################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/JobPortalSharp.Data/bin
/JobPortalSharp.Data/obj
/packages
/JobPortalSharp/bin
/JobPortalSharp/obj
