@button-color: rgb(48,48,48);

body {
    .search-box {
        input {
            border: 1px solid lightgray;
            width: 100%;
            line-height: 3em;
            padding-left: 1em;
            max-width: none;
        }
    }
}

button {
    background-color: @button-color !important;
    color: white;
}
