@button-color: rgb(48,48,48);
@grey-border: gray;

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}

button {
    background-color: @button-color !important;
    color: white;
    border: none;
}

.search-box {
    input {
        border: 1px solid lightgray;
        width: 100%;
        line-height: 3em;
        padding-left: 1em;
        max-width: none;
    }
}

.result-row {
    margin-top: 10px;
}

label.error {
    color: red;
}

//panglaban sa theme
.modal button.close {
    background-color: transparent !important;
}

input[type=text] {
    border-width: 1px;
    border-color: gray;
}

.carousel-inner {
    border: 2px solid black;

    .item {
        background-color: black;

        img {
            margin: 0 auto;
        }
    }
}
