html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
}
button {
  background-color: #303030 !important;
  color: white;
  border: none;
}
.search-box input {
  border: 1px solid lightgray;
  width: 100%;
  line-height: 3em;
  padding-left: 1em;
  max-width: none;
}
.result-row {
  margin-top: 10px;
}
label.error {
  color: red;
}
.modal button.close {
  background-color: transparent !important;
}
input[type=text] {
  border-width: 1px;
  border-color: gray;
}
.carousel-inner {
  border: 2px solid black;
}
.carousel-inner .item {
  background-color: black;
}
.carousel-inner .item img {
  margin: 0 auto;
}