html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
}
button {
  background-color: #303030;
  color: white;
  border: none;
}
.search-box {
  margin-top: 20px;
}
.search-box input[type=text] {
  border: 1px solid lightgray;
  width: 100%;
  line-height: 45px;
  max-width: none;
  border-radius: 5px;
  padding: 0 15px;
  vertical-align: middle;
  font-size: 18px;
}
.search-box input[type=text]::-webkit-input-placeholder {
  font-size: 18px;
}
.search-box input[type=text]:-moz-placeholder {
  font-size: 18px;
}
.search-box input[type=text]::-moz-placeholder {
  font-size: 18px;
}
.search-box input[type=text]:-ms-input-placeholder {
  font-size: 18px;
}
.search-box .search-box-chk {
  text-align: left;
}
.result {
  margin-top: 10px;
}
.result-row {
  border-color: gray;
  border-top-style: solid;
  border-top-width: 1px;
  padding: 10px;
  line-height: 2em;
}
label.error {
  color: red;
}
.modal button.close {
  background-color: transparent !important;
}
input[type=text] {
  border-width: 1px;
  border-color: gray;
}
.carousel-inner {
  border: 1px solid black;
}
.carousel-inner .item {
  background-color: black;
}
.carousel-inner .item img {
  margin: 0 auto;
}
.job-categories {
  text-align: center;
}
.job-categories li {
  list-style-type: none;
  display: inline;
}
.job-categories li + li:before {
  content: '|';
}
.navbar-default .navbar-brand,
.navbar-default .navbar-nav > li > a {
  font-family: "Varela Round", Helvetica, sans-serif !important;
  color: white;
}
.navbar-default {
  background-color: #2C3E50;
  background-image: none;
  box-shadow: none;
}
.asterisk:after {
  content: "*";
}
header {
  background-color: white;
  color: #2C3E50;
}
.intro-text {
  color: #2C3E50;
}
.first-element {
  padding-top: 100px;
  padding-bottom: 100px;
}