@model JobPortalSharp.Models.SearchViewModel
@{
    ViewBag.Title = "Home Page";
}

<div class="SlideShowWidget clearfix HeroFillFrame colelem" id="slideshowu2142">
        <!-- none box -->
        <div class="popup_anchor" id="u2150popup">
            <div class="SlideShowContentPanel clearfix" id="u2150">
                <!-- stack box -->
                <div class="SSSlide clip_frame grpelem" id="u2155">
                    <!-- image -->
                    <img class="ImageInclude" id="u2155_img" data-src="images/banner-1.jpg" src="images/blank.gif" alt="" data-width="1263" data-height="399" />
                </div>
                <div class="SSSlide invi clip_frame grpelem" id="u2254">
                    <!-- image -->
                    <img class="ImageInclude" id="u2254_img" data-src="images/banner-2.jpg" src="images/blank.gif" alt="" data-width="1263" data-height="399" />
                </div>
                <div class="SSSlide invi clip_frame grpelem" id="u2983">
                    <!-- image -->
                    <img class="ImageInclude" id="u2983_img" data-src="images/banner-3.jpg" src="images/blank.gif" alt="" data-width="1263" data-height="399" />
                </div>
            </div>
        </div>
        <div class="popup_anchor" id="u2148-4popup">
            <div class="SSPreviousButton clearfix" id="u2148-4">
                <!-- content -->
                <p><span id="u2148">&lt;</span></p>
            </div>
        </div>
        <div class="popup_anchor" id="u2149-4popup">
            <div class="SSNextButton clearfix" id="u2149-4">
                <!-- content -->
                <p>&gt;</p>
            </div>
        </div>
    </div>
    <div class="browser_width colelem" id="u2410-bw">
        <div id="u2410"><!-- simple frame --></div>
    </div>
    <div class="clip_frame colelem" id="u2274" style="border:1px solid lightgray;box-shadow:0 0 10px gray">
        <div style="background-color: white; padding: 20px;">
            <form action="/Home/Search" class="search-box row">
                <div class="col-md-4">
                    <input name="q" placeholder="keywords e.g. nurse" type="text" />
                </div>
                <div class="col-md-3">
                    <input name="l1" placeholder="location 1" type="text" />
                </div>
                <div class="col-md-3">
                    <input name="l2" placeholder="location 2" type="text" />
                </div>
                <div class="col-md-2">
                    <button type="submit" style="width:100%;line-height:3em">Find Job</button>
                </div>
            </form>
        </div>
    </div>
    <div class="clip_frame colelem" id="u2415">
        <!-- image -->
        <img class="block" id="u2415_img" src="images/job%20portal%20mock%20up-features%20jobs%20copyc.png" alt="" data-image-width="1119" data-image-height="713" />
    </div>
    <div class="colelem" id="u2971"><!-- simple frame --></div>
    <div class="clearfix colelem" id="u2508">
        <!-- group -->
        <div class="clearfix grpelem" id="pu2452">
            <!-- column -->
            <div class="clip_frame colelem" id="u2452">
                <!-- image -->
                <img class="block" id="u2452_img" src="images/find%20jobs%20easily-we%e2%80%99ll%20always%20match%20you%20up%20with%20the%20right%20opportunities.c.png" alt="" width="453" height="61" />
            </div>
            <div class="clip_frame colelem" id="u2445">
                <!-- image -->
                <img class="block" id="u2445_img" src="images/find%20jobs%20easily-lorem%20ipsum%20dolor%20sit%20amet%2c%20consectetur%20adipiscing%20elit.%20aliquac.png" alt="" width="493" height="182" />
            </div>
            <div class="clearfix colelem" id="pu2487">
                <!-- group -->
                <div class="clip_frame grpelem" id="u2487">
                    <!-- image -->
                    <img class="block" id="u2487_img" src="images/find%20jobs%20easily-rectangle%205%20copy%206c.png" alt="" width="187" height="47" />
                </div>
                <div class="clip_frame grpelem" id="u2480">
                    <!-- image -->
                    <img class="block" id="u2480_img" src="images/find%20jobs%20easily-get%20startedc.png" alt="" width="90" height="12" />
                </div>
            </div>
        </div>
        <div class="clearfix grpelem" id="pu2501">
            <!-- group -->
            <div class="clip_frame grpelem" id="u2501">
                <!-- image -->
                <img class="block" id="u2501_img" src="images/find%20jobs%20easily-layer%208c.jpg" alt="" width="630" height="470" />
            </div>
            <div class="clip_frame grpelem" id="u2494">
                <!-- image -->
                <img class="block" id="u2494_img" src="images/find%20jobs%20easily-rectangle%2010%20copyc.png" alt="" width="633" height="472" />
            </div>
            <div class="clip_frame grpelem" id="u2473">
                <!-- image -->
                <img class="block" id="u2473_img" src="images/find%20jobs%20easily-find%20jobs%20easilyc.png" alt="" width="332" height="25" />
            </div>
            <div class="clip_frame grpelem" id="u2466">
                <!-- image -->
                <img class="block" id="u2466_img" src="images/find%20jobs%20easily-shape%205c.png" alt="" width="334" height="4" />
            </div>
            <div class="clip_frame grpelem" id="u2459">
                <!-- image -->
                <img class="block" id="u2459_img" src="images/find%20jobs%20easily-shape%205%20copyc.png" alt="" width="334" height="4" />
            </div>
        </div>
    </div>
    <div class="clearfix colelem" id="pu2583">
        <!-- group -->
        <div class="clip_frame grpelem" id="u2583">
            <!-- image -->
            <img class="block" id="u2583_img" src="images/easiest%20way%20to%20use-shape%205%20copy%203c.png" alt="" width="404" height="4" />
        </div>
        <div class="clip_frame grpelem" id="u2569">
            <!-- image -->
            <img class="block" id="u2569_img" src="images/easiest%20way%20to%20use-easiest%20way%20to%20usec.png" alt="" width="280" height="18" />
        </div>
        <div class="clip_frame grpelem" id="u2576">
            <!-- image -->
            <img class="block" id="u2576_img" src="images/easiest%20way%20to%20use-shape%205%20copy%204c.png" alt="" width="404" height="4" />
        </div>
    </div>
    <div class="clearfix colelem" id="pu2697">
        <!-- group -->
        <div class="rounded-corners transition clearfix grpelem" id="u2697">
            <!-- group -->
            <div class="clip_frame grpelem" id="u2597">
                <!-- image -->
                <img class="block" id="u2597_img" src="images/easiest%20way%20to%20use-forma%201c.png" alt="" width="57" height="58" />
            </div>
        </div>
        <div class="rounded-corners transition clearfix grpelem" id="u2700">
            <!-- group -->
            <div class="clip_frame grpelem" id="u2590">
                <!-- image -->
                <img class="block" id="u2590_img" src="images/easiest%20way%20to%20use-forma%201c2.png" alt="" width="64" height="62" />
            </div>
        </div>
        <div class="rounded-corners transition clearfix grpelem" id="u2703">
            <!-- group -->
            <div class="clip_frame grpelem" id="u2548">
                <!-- image -->
                <img class="block" id="u2548_img" src="images/easiest%20way%20to%20use-forma%201c3.png" alt="" width="51" height="59" />
            </div>
        </div>
        <div class="rounded-corners transition clearfix grpelem" id="u2706">
            <!-- group -->
            <div class="clip_frame grpelem" id="u2541">
                <!-- image -->
                <img class="block" id="u2541_img" src="images/easiest%20way%20to%20use-forma%201c4.png" alt="" width="58" height="58" />
            </div>
        </div>
    </div>
    <div class="clearfix colelem" id="pu2562">
        <!-- group -->
        <div class="clip_frame grpelem" id="u2562">
            <!-- image -->
            <img class="block" id="u2562_img" src="images/easiest%20way%20to%20use-registerc.png" alt="" width="84" height="12" />
        </div>
        <div class="clip_frame grpelem" id="u2555">
            <!-- image -->
            <img class="block" id="u2555_img" src="images/easiest%20way%20to%20use-create%20profilec.png" alt="" width="142" height="12" />
        </div>
        <div class="clip_frame grpelem" id="u2639">
            <!-- image -->
            <img class="block" id="u2639_img" src="images/easiest%20way%20to%20use-upload%20resumec.png" alt="" width="147" height="12" />
        </div>
        <div class="clip_frame grpelem" id="u2632">
            <!-- image -->
            <img class="block" id="u2632_img" src="images/easiest%20way%20to%20use-get%20hiredc.png" alt="" width="91" height="12" />
        </div>
    </div>
    <div class="clearfix colelem" id="u2938">
        <!-- group -->
        <div class="clearfix grpelem" id="pu2924">
            <!-- group -->
            <div class="clip_frame grpelem" id="u2924">
                <!-- image -->
                <img class="block" id="u2924_img" src="images/companies%20who%20want%20you-layer%209c.jpg" alt="" width="626" height="467" />
            </div>
            <div class="clip_frame grpelem" id="u2917">
                <!-- image -->
                <img class="block" id="u2917_img" src="images/companies%20who%20want%20you-rectangle%2010%20copy%202c.png" alt="" width="628" height="469" />
            </div>
            <div class="clip_frame grpelem" id="u2910">
                <!-- image -->
                <img class="block" id="u2910_img" src="images/companies%20who%20want%20you-companies%20who%20want%20to%20hire%20youc.png" alt="" width="443" height="67" />
            </div>
            <div class="clip_frame grpelem" id="u2903">
                <!-- image -->
                <img class="block" id="u2903_img" src="images/companies%20who%20want%20you-shape%205%20copy%202c.png" alt="" width="445" height="4" />
            </div>
            <div class="clip_frame grpelem" id="u2896">
                <!-- image -->
                <img class="block" id="u2896_img" src="images/companies%20who%20want%20you-shape%205%20copy%202c2.png" alt="" width="445" height="4" />
            </div>
        </div>
        <div class="clearfix grpelem" id="pu2889">
            <!-- column -->
            <div class="clip_frame colelem" id="u2889">
                <!-- image -->
                <img class="block" id="u2889_img" src="images/companies%20who%20want%20you-find%20the%20right%20job%20from%20top%20companies%20around%20the%20globec.png" alt="" width="483" height="61" />
            </div>
            <div class="clip_frame colelem" id="u2931">
                <!-- image -->
                <img class="block" id="u2931_img" src="images/companies%20who%20want%20you-layer%2010c.png" alt="" width="577" height="290" />
            </div>
            <div class="clearfix colelem" id="pu2882">
                <!-- group -->
                <div class="clip_frame grpelem" id="u2882">
                    <!-- image -->
                    <img class="block" id="u2882_img" src="images/companies%20who%20want%20you-ellipse%202c.png" alt="" width="17" height="17" />
                </div>
                <div class="clip_frame grpelem" id="u2875">
                    <!-- image -->
                    <img class="block" id="u2875_img" src="images/companies%20who%20want%20you-ellipse%202%20copyc.png" alt="" width="17" height="17" />
                </div>
                <div class="clip_frame grpelem" id="u2868">
                    <!-- image -->
                    <img class="block" id="u2868_img" src="images/companies%20who%20want%20you-ellipse%202%20copy%202c.png" alt="" width="17" height="17" />
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix colelem" id="u2744">
        <!-- group -->
        <div class="clip_frame grpelem" id="u2737">
            <!-- image -->
            <img class="block" id="u2737_img" src="images/do%20you%20have%20inquiries-rectangle%2011c.png" alt="" width="1264" height="347" />
        </div>
        <div class="clip_frame grpelem" id="u2730">
            <!-- image -->
            <img class="block" id="u2730_img" src="images/do%20you%20have%20inquiries-lorem%20ipsum%20dolor%20sit%20amet%2c%20consectetur%20adipiscing%20elit.%20aliquac.png" alt="" width="1002" height="61" />
        </div>
        <div class="clip_frame grpelem" id="u2723">
            <!-- image -->
            <img class="block" id="u2723_img" src="images/do%20you%20have%20inquiries-hey%2c%20do%20you%20have%20any%20inquiries-c.png" alt="" width="548" height="34" />
        </div>
        <div class="clip_frame grpelem" id="u2716">
            <!-- image -->
            <img class="block" id="u2716_img" src="images/do%20you%20have%20inquiries-call-%201%20800%20000%205000c.png" alt="" width="366" height="27" />
        </div>
        <div class="clip_frame grpelem" id="u2709">
            <!-- image -->
            <img class="block" id="u2709_img" src="images/do%20you%20have%20inquiries-shape%201c.png" alt="" width="48" height="47" />
        </div>
    </div>
