@model JobPortalSharp.Models.SearchViewModel
@{
    ViewBag.Title = "Home Page";
}

<label>Search</label>
<form action="/">
    <input name="search" placeholder="Search Job" type="text" />
</form>
@foreach (var post in Model.Posts)
{
    <div>
        <hr />
        <h4>@post.Name</h4>
        <p style="font-style: oblique">@post.Employer.Name</p>
        <p>USD @post.Salary</p>
        @Html.ActionLink("Apply", "Apply", "Jobs", new { Id = post.Id }, null)
    </div>
}